@font-face{
  font-family: ProximaNovaBold;
  src: url(./Fonts/ProximaNova/proximanova_bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: ProximaNova;
  src: url(./Fonts/ProximaNova/proximanova_regular.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ProximaNovaBold;
}

#ucddt {
  position: relative;
  left:50%;
  width: 700px;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}


#ucddt img{
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background: #022851;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 0px;
}

#navbar__logo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  left:15px;
}


.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}
.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 40px;  /* Set a specific height */
  width: 40px;  /* Set a specific width */
  border: none;
  outline: none;
  border-radius: 4px;
}
.button img {
  width: 48px;   /* Shrink the image to desired size */
  height: 48px;  /* Keep the height and width proportional */
  object-fit: contain;  /* Ensures the image scales properly without distorting */
}
.button:hover{
  background: rgb(176 164 112);
  transition: all 0.3s ease;
}

.navbar__links:hover{
  color: rgb(176 164 112);
  transition: all 0.3s ease;
}






@media screen and (max-width: 1150px){
  .navbar__container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 80vh;
    z-index: -1;
    background: #022851;
  }
  .navbar__menu.active{
    background: #022851;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo{
    display: flex;
    position: relative;
    left:50%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }

  .navbar__toggle {
    position: absolute;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }
  .navbar__item{
    width: 100%;
  }

  .navbar__links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__btn{
    padding-bottom: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
  }
  
  
  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 700px){
  #ucddt {
    position: relative;
    left:50%;
    width: 100%;
    margin-top: 70px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }
}

/*MainSection CSS*/
.main__container *{
  font-family: ProximaNova;
  color: rgb(73 73 73);
  display: grid;
  align-items: center;
  justify-self: center;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 10px 15px;
}

.main_img--container{
  width: 1000px;
}
